In [ ]:
import numpy as np
import seaborn as sns
import pandas as pd
from sklearn.model_selection import train_test_split 
from sklearn.preprocessing import StandardScaler
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import confusion_matrix

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving Churn_Modelling.csv to Churn_Modelling.csv

In [ ]:
data = pd.read_csv('Churn_Modelling.csv')
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [ ]:
from sklearn.preprocessing import LabelEncoder
number =  LabelEncoder()
data['Gender'] = number.fit_transform(data['Gender'].astype('str'))
data['Surname'] = number.fit_transform(data['Surname'].astype('str'))
data['Geography'] = number.fit_transform(data['Geography'].astype('category'))
data.head()

   RowNumber  CustomerId  Surname  ...  IsActiveMember  EstimatedSalary  Exited
0          1    15634602     1115  ...               1        101348.88       1
1          2    15647311     1177  ...               1        112542.58       0
2          3    15619304     2040  ...               0        113931.57       1
3          4    15701354      289  ...               0         93826.63       0
4          5    15737888     1822  ...               1         79084.10       0

[5 rows x 14 columns]

In [ ]:
data.shape

(10000, 14)

In [ ]:
X = data.iloc[:, 0: -1].values
y = data.iloc[:, -1].values

In [ ]:
data.describe(include='all')

         RowNumber    CustomerId  ...  EstimatedSalary        Exited
count  10000.00000  1.000000e+04  ...     10000.000000  10000.000000
mean    5000.50000  1.569094e+07  ...    100090.239881      0.203700
std     2886.89568  7.193619e+04  ...     57510.492818      0.402769
min        1.00000  1.556570e+07  ...        11.580000      0.000000
25%     2500.75000  1.562853e+07  ...     51002.110000      0.000000
50%     5000.50000  1.569074e+07  ...    100193.915000      0.000000
75%     7500.25000  1.575323e+07  ...    149388.247500      0.000000
max    10000.00000  1.581569e+07  ...    199992.480000      1.000000

[8 rows x 14 columns]

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  int64
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  int64
 5   Gender           10000 non-null  int64
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(12)
memory usage: 1.1 MB

In [ ]:
#train_test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 200)

model = DecisionTreeClassifier()
model.fit(X_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [ ]:
#prediction
y_pred = model.predict(X_test)
y_pred

array([0, 0, 0, ..., 0, 0, 0])

In [ ]:
#confusin matrix
matrix_val = confusion_matrix(y_pred, y_test)
matrix_val

array([[1364,  226],
       [ 209,  201]])

In [ ]:
matrix_val.diagonal().sum() / matrix_val.sum()

0.7825

In [ ]:
# feature importance
importance = model.feature_importances_
importance

array([0.08280999, 0.08379898, 0.07291571, 0.07295333, 0.02847099,
       0.01629054, 0.19841997, 0.04197595, 0.10435129, 0.12088688,
       0.01322248, 0.05796207, 0.1059418 ])

In [ ]:
indices = np.argsort(importance)[::-1]
for f in range(X_train.shape[1]):
    print("%d. feature %d (%f)" % (f + 1, indices[f], importance[indices[f]]))

1. feature 6 (0.198420)
2. feature 9 (0.120887)
3. feature 12 (0.105942)
4. feature 8 (0.104351)
5. feature 1 (0.083799)
6. feature 0 (0.082810)
7. feature 3 (0.072953)
8. feature 2 (0.072916)
9. feature 11 (0.057962)
10. feature 7 (0.041976)
11. feature 4 (0.028471)
12. feature 5 (0.016291)
13. feature 10 (0.013222)

In [ ]:
#removed lowest importance feature
data.drop(['HasCrCard'], axis = 1, inplace = True)

In [ ]:
data.head()

   RowNumber  CustomerId  Surname  ...  IsActiveMember  EstimatedSalary  Exited
0          1    15634602     1115  ...               1        101348.88       1
1          2    15647311     1177  ...               1        112542.58       0
2          3    15619304     2040  ...               0        113931.57       1
3          4    15701354      289  ...               0         93826.63       0
4          5    15737888     1822  ...               1         79084.10       0

[5 rows x 13 columns]

In [ ]:
model = DecisionTreeClassifier()
model.fit(X_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [ ]:
y_pred = model.predict(X_test)
matrix_val = confusion_matrix(y_pred, y_test)
matrix_val.diagonal().sum() / matrix_val.sum()

0.7775